
<header class="surface-0 border-bottom-1 border-200 w-full sticky top-0 z-5">
  <nav class="flex align-items-center justify-content-between px-4 py-2">

    <span class="font-semibold text-lg select-none">Уведомление.ру</span>

    <ul class="list-none flex gap-4 m-0 p-0">
      <li><a routerLink="/"         class="text-color hover:text-primary transition-colors">Главная страница</a></li>
      <li><a routerLink="/notice"   class="text-color hover:text-primary transition-colors">Уведомление</a></li>
      <li><a routerLink="/registry" class="text-color hover:text-primary transition-colors">Реестр уведомлений</a></li>

      <li>
        <button pButton type="button"
                icon="pi pi-power-off"
                class="p-button-text p-0">
<!--                (click)="logout()">-->
          Выход
        </button>
      </li>
    </ul>

  </nav>
</header>
