<p-table #dt
         [value]="notices"
         showGridlines
         dataKey="noticeNum"
         sortMode="multiple"
         rowGroupMode="subheader"
         groupRowsBy="noticeNum"
         [columns]="selectedColumns"
         stateKey="notice-registry" stateStorage="session"
         (onPage)="first = $event.first"

>

<!-- caption: toggle-колонки, экспорт, поиск, навигация -->
<ng-template #caption>
  <p-multiselect [options]="cols" [(ngModel)]="selectedColumns"
                 optionLabel="header" display="chip"
                 selectedItemsLabel="{0} выбрано"
                 class="w-10rem" ></p-multiselect>
  <span class="mx-3">
      <input pInputText type="text" placeholder="Поиск..."
             (input)="onGlobalFilter($event)" class="w-20rem" />
  </span>
  <p-button icon="pi pi-download" label="CSV"
            class="mx-2" (click)="dt.exportCSV()" />
<!--  <p-button icon="pi pi-chevron-left" (click)="prev()"-->
<!--            [disabled]="isFirstPage()" />-->
<!--  <p-button icon="pi pi-refresh" (click)="reset()" />-->
<!--  <p-button icon="pi pi-chevron-right" (click)="next()"-->
<!--            [disabled]="isLastPage()" />-->
</ng-template>

<!-------- групповой заголовок ------------------->
<ng-template pTemplate="rowgroupheader" let-rowData>
  <tr class="bg-primary-50 text-primary-900 font-semibold">
    <td [attr.colspan]="selectedColumns.length">
      Уведомление № {{ rowData.noticeNum }} от {{ rowData.noticeDate | date:'dd.MM.yyyy' }}
    </td>
  </tr>
</ng-template>

<!-- обычный заголовок -->
<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns" pResizableColumn>
      {{ col.header }}
      <!-- per-column advanced filter -->
      <p-columnFilter [field]="col.field" display="menu" />
    </th>
  </tr>
</ng-template>

<!----------------- тело ------------------------->
<ng-template pTemplate="body" let-row let-columns="columns">
  <tr>
    <td *ngFor="let col of columns">
      <ng-container [ngSwitch]="col.field">
        <span *ngSwitchCase="'noticeDate'">{{ row.noticeDate | date:'dd.MM.yyyy' }}</span>
        <span *ngSwitchCase="'deadline'">{{ row.deadline   | date:'dd.MM.yyyy' }}</span>
        <span *ngSwitchDefault>{{ row[col.field] }}</span>
      </ng-container>
    </td>
  </tr>
</ng-template>

<!---------- сообщение о пустой таблице ------------------>
<ng-template pTemplate="emptymessage">
  <tr><td [attr.colspan]="selectedColumns.length" class="text-center">
    Нет данных
  </td></tr>
</ng-template>
</p-table>
